//------------MENU PC----------------//
@media (min-width: 700px) {
  header {
    .header__nav-menu {
      .header__enlace-menu {
        background-color: #ffff;
        border-radius: 10%;
      }
    }
  }
}

@media (min-width: 700px) {
  header {
    .header__nav-menu {
      .header__enlace-menu {
        background-color: #ffff;
        border-radius: 10%;
      }
    }
  }
}
