//colores de habilidades de los pokemons
$color_hierba: #9bcc50;
$color_veneno: #b97fc9;
$color_fire: #fd7d24;
$color_agua: #4592c4;
$color_bicho: #729f3f;
$color_bicho_volador: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
$poison: rgb(112, 19, 170);
$bug: #3def5b;
$grass: rgb(164, 222, 27);
$normal: rgb(132, 132, 114);
$electric: yellow;

//colores principales / generales
$color_blanco: #ffff;
$color_negro: #000000;
$color_namePokemon: #212121;
$color_IdPokemon: #919191;
$color_fondoPokemon: #f2f2f2;
