html {
  scroll-behavior: smooth;
}
//------------------container-----------------------
.container__principal {
  max-width: 1600px;
  margin: 0 auto;
}

//-------------MENU CEL-----------------------//
.header__logo--movil {
  text-align: center;
  .header__img--movil {
    width: 150px;
  }
}

//------------MENU PC----------------//
@media (min-width: 700px) {
  .container__principal {
    .nav__burger {
      .nave {
        .hambuerguesa {
          display: none;
        }
      }
    }
  }
  header {
    background-color: red;

    .header__nav-menu {
      display: flex;
      justify-content: center; // Añadido para centrar horizontalmente
      align-items: center; // Añadido para centrar verticalmente
      padding: 10px 0; // Ajusta según sea necesario
      .header__enlace-menu {
        display: block;
        color: black;
        margin: 0 10px; // Ajusta el margen según sea necesario
        text-decoration: none; // Para quitar el subrayado del enlace
      }
    }
  }
}
