.container__pokemon {
  .container__poke {
    margin: 0 0 0 20px;
    .figure__poke {
      text-align: center;
      background-color: $color_fondoPokemon;
      margin: 20px;
      width: 70%;
      text-align: center;
      padding: 10px;
      border-radius: 10%;
      .img__poke {
        width: 150px;
        height: 200px;
      }
    }
    .container__description {
      display: flex;
      align-items: center;

      .id__poke {
        color: $color_IdPokemon;
        margin: 0 10px 0 0;
      }
      .name__poke {
        font-family: "Flexo-Regular", arial, sans-serif;
        color: $color_namePokemon;
        text-transform: none;
        font-size: 20px;
        text-transform: uppercase;
        font-size: "Flexo-Demi", arial, sans-serif;
        margin: 5px;
      }
    }
  }
}
.container__poke {
  .btn__poke {
    display: flex;
    .bugtype__poke,
    .poisontype__poke,
    .grasstype__poke,
    .firetype__poke,
    .watertype__poke,
    .normaltype__poke,
    .flyingtype__poke,
    .electrictype__poke,
    .fightingtype__poke,
    .groundtype__poke,
    .psychictype__poke,
    .rocktype__poke,
    .ghosttype__poke,
    .icetype__poke,
    .dragontype__poke,
    .fairytype__poke,
    .steeltype__poke {
      color: rgb(0, 0, 0);
      line-height: 18px;
      font-size: 11px;
      text-align: center;
      border-radius: 20%;
      width: 30%;
      margin: 0 15px 0 0;
      text-transform: uppercase;
      font-family: "Flexo-Regular", arial, sans-serif;
      font-weight: bold;
    }

    .bugtype__poke {
      background: $bug;
    }

    .poisontype__poke {
      background: $poison;
      color: $color_blanco;
    }
    .grasstype__poke {
      background: $grass;
    }
    .firetype__poke {
      background: $color_fire;
    }
    .watertype__poke {
      background: $color_agua;
      color: $color_blanco;
    }
    .normaltype__poke {
      background: $normal;
      color: $color_blanco;
    }
    .flyingtype__poke {
      background: $color_bicho_volador;
      color: $color_blanco;
    }
    .electrictype__poke {
      background: $electric;
      color: $color_negro;
    }
    .icetype__poke {
      background: $ice;
      color: $color_negro;
    }
    .fightingtype__poke {
      background-color: $fighting;
      color: $color_blanco;
    }
    .groundtype__poke {
      background-color: $ground;
      color: $color_blanco;
    }
    .psychictype__poke {
      background-color: $psychic;
      color: $color_blanco;
    }
    .rocktype__poke {
      background-color: $rock;
      color: $color_blanco;
    }
    .ghosttype__poke {
      background-color: $ghost;
      color: $color_blanco;
    }
    .dragontype__poke {
      background-color: $dragon;
      color: $color_blanco;
    }
    .fairytype__poke {
      background-color: $fairy;
      color: black;
    }
    .steeltype__poke {
      background-color: $steel;
      color: black;
    }
  }
}

//----MOVIL----
@media (min-width: 500px) {
  .container__pokemon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
