.container__pokemon {
  .container__poke {
    margin: 40px 20px 0 20px;
    .figure__poke {
      text-align: center;
      background-color: #f2f2f2;
      .img__poke {
        width: 100%;
      }
    }
    .container__description {
      .id__poke {
        margin: 2px;
        color: #919191;
      }
      .name__poke {
        font-family: "Flexo-Regular", arial, sans-serif;
        color: #212121;
        text-transform: none;
        font-size: 18px;
        margin: 5px 0 10px 0;
        font-size: "Flexo-Demi", arial, sans-serif;
      }
    }
    .btn__poke {
      display: flex;
      justify-content: left; /* Centrar horizontalmente */
      align-items: center; /* Centrar verticalmente */
    }
  }
}
//hierba
.btn__poke {
  .type__poke--plant {
    background-color: #9bcc50;
    color: #212121;
    line-height: 18px;
    font-size: 11px;
    text-align: center;
    border-radius: 3px;
    width: 30%;
    margin: 0 15px 0 0;
  }
  .espe__poke--plant {
    background-color: #b97fc9;
    color: white;
    line-height: 18px;
    font-size: 11px;
    text-align: center;
    border-radius: 3px;
    width: 30%;
    margin: 0 20px 0 0;
  }
}
//fuego
.btn__poke {
  .type__poke--fire {
    background-color: #fd7d24;
    color: #212121;
    line-height: 18px;
    font-size: 11px;
    text-align: center;
    border-radius: 3px;
    width: 30%;
    margin: 0 20px 0 0;
  }
}
//agua
.btn__poke {
  display: flex;
  justify-content: left; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  .type__poke--agua {
    background-color: #4592c4;
    color: #ffffff;
    line-height: 18px;
    font-size: 11px;
    text-align: center;
    border-radius: 3px;
    width: 30%;
    margin: 0 20px 0 0;
  }
}
//bicho
.btn__poke {
  display: flex;
  justify-content: left; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  .type__poke--bicho {
    background-color: #729f3f;
    color: #ffffff;
    line-height: 18px;
    font-size: 11px;
    text-align: center;
    border-radius: 3px;
    width: 30%;
    margin: 0 20px 0 0;
  }
  .espe__poke--bicho {
    background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    color: white;
    line-height: 18px;
    font-size: 11px;
    text-align: center;
    border-radius: 3px;
    width: 30%;
    margin: 0 20px 0 0;
  }
}

//----MOVIL----
@media (min-width: 500px) {
  .container__pokemon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (min-width: 700px) {
  .container__principal {
    .header {
      .header__nav-menu {
        display: block;
      }
    }
  }
}
